html, body {
  width: 100%;
  height: 100%; 
  background-color: #ffc0cb;
}
.x{
  text-align: center;
}
.App {

  text-align: center;
  margin-top: 30px;
  background-color: rgb(244, 248, 250);
  margin-left: 550px;
  margin-right: 550px;
  border-color: rgb(17, 35, 37);
  border-style: dotted;
 
}
.demo{
  height:30px ;
  width: 190px;
}
.btn{
  height: 35px;
  width: 70px;
}
.list {
  list-style: none;
    justify-content: start;

padding-top: 2px;
padding-right: 10px;
display: block;

    
}

.list-item {
 
  align-items: center;
  margin-bottom: 5px;
  padding-top: 30px;
  float: left;

}


.close{
 
    background: none;
    border: none;
    color: red;
    font-weight: bold;
    cursor: pointer;
    
    float: right;
  
}

